*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
locked_books

# YARD artifacts
.yardoc
_yardoc
doc/
.vagrant
.ruby-version
node_modules
